<!--<p>deviceconfig works!</p>-->
<div class="container">
   	<div class="row">
	    <div class="col-md-8">
	    	
	    </div>
	    <div class="col-md-4">
	    	<button class="mt-4 d-flex align-items-center" nz-button nzType="primary">
	          	<i nz-icon nzType="plus" nzTheme="outline"></i>Add New Device
	        </button>
	    </div>
  	</div>
  <hr/>		
  <p>Devices List</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Device ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Device # 01</td>
        <td>
        	<div class="row">
        		<div class="col-md-3"></div>
				<div class="col-md-2">
			        <button class="mt-4 d-flex align-items-center" nz-button nzType="primary" >
			          	Start
			        </button>
			    </div>
			    <div class="col-md-2">
			        <button class="mt-4 d-flex align-items-center" nz-button nzType="primary" >
			          	Stop
			        </button>
			    </div>
			    <div class="col-md-2">
			        <button class="mt-4 d-flex align-items-center" nz-button nzType="primary" >
			          	Reset
			        </button>
			    </div>    
        		<div class="col-md-3"></div>
			</div>
        </td>
      </tr>
      <tr>
        <td>Device # 02</td>
        <td>
        	<div class="row">
        		<div class="col-md-3"></div>
				<div class="col-md-2">
			        <button class="mt-4 d-flex align-items-center" nz-button nzType="primary" >
			          	Start
			        </button>
			    </div>
			    <div class="col-md-2">
			        <button class="mt-4 d-flex align-items-center" nz-button nzType="primary" >
			          	Stop
			        </button>
			    </div>
			    <div class="col-md-2">
			        <button class="mt-4 d-flex align-items-center" nz-button nzType="primary" >
			          	Reset
			        </button>
			    </div>    
        		<div class="col-md-3"></div>
			</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

